* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  font-family: 'Segoe UI', sans-serif;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  background-color: rgb(162, 208, 249);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 999;
  transition: background-color 0.3s ease;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-left: 20px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: white;
  text-decoration: underline;
}

/* Hero Sections */
.hero {
  height: 100vh;
  padding-top: 100px;
  text-align: center;
}

.hero h2 {
  font-style: italic;
  font-size: 32px;
  margin-bottom: 10px;
}

.hero p {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

/* Footer */
footer {
  background-color: rgb(22, 20, 20);
  height: 40px;
}

.footer p {
  color: whitesmoke;
  text-align: center;
  padding: 10px;
}

/* Scroll change style */
.scrolled {
  background-color: #083c74 !important;
  color:white;
}

